<div class="page-header">
    <div class="page-header-inner">
        <div class="row">
            <div class="col-sm-3 col-md-4 col-lg-6">
                <a class="logo" href="/" title="TYPO3 Documentation">
                    <img alt="TYPO3 Logo" class="logo-image"
                         height="130" src="https://typo3.azureedge.net/typo3documentation/theme/sphinx_typo3_theme/4.5.1/img/typo3-logo.svg" width="484"/>
                </a>
            </div>
        </div>
    </div>
</div>
